#Home {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    display: flex;
}

h1 {
    color: white;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    margin-right: 20px;
}

#title-number {
    transform: rotate(20deg);
    font-size: 85px;
}

#play {
    height: auto;
    width: auto;
    font-size: 60px;
    text-decoration: none;
    border:none;
    background-color: black;
    color: white;
}

#play:hover {
    font-size: 80px;
    animation-name: play;
    animation-duration: 0.5s;
}

@keyframes play {
    from {
        font-size: 60px;
    }
    to {
        font-size: 80px;
    }
}