html {
  height: 100%;
  background-color: rgb(8, 2, 41);
}

#root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
